.font-table{
	border-collapse: collapse;
}

.font-table td{
	text-align: center;
	border: 3px solid #A7738E;
}

.font-table td.l{
	border-right: 0 solid red;
}

.font-table td.r{
	border-left: 0 solid red;
}

.font-table tr.t td{
	border-bottom: 0 solid red;
}

.font-table tr.c td{
	border-top: 0 solid red;
	border-bottom: 0 solid red;
}

.font-table tr.b td{
	border-top: 0 solid red;
}

.font-table td.ex{
	background-color: lightblue;
}

.font-table td.nex{
	background-color: lightgreen;
}
